<header>

    <div class="container">

        <a href="index.html" class="logo">

            <img
                src="images/logo.png"
                alt="nar4frame Logo"
                width="256"
                height="256">

            <span>nar4frame</span>

        </a>

        <nav>

            <ul>

                <li><a href="index.html">Home</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>

            </ul>

        </nav>

    </div>

</header>
